body{
  padding-bottom: 20px;
}


.carousel-front{
	margin: auto;
	overflow: hidden;
}
.carousel-front .item img{
	width:100%;
}

.carousel-front .carousel-control{
	opacity: 0;
}
.carousel-front .carousel-control:hover {
    opacity: 1;
}
.navbar-header{
  margin-left: 0px !important;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.carousel-control{
	background-image: none !important;
}

.carousel-control .glyphicon{


	top:50px;
}
footer{
	text-align: center;
	padding-top: 19px;
  	color: #777;
  	margin-top: 40px;
}

a.title{
	text-decoration: none;
}

.title img{
	margin-top: 9px;
	height: 50px;
	margin-left: -5px;
}
.title h3{
	display: none;
}
.main-nav{
	background-color: #fff;
	border: none;
}
.main-nav .navbar-toggle{
	margin-top: 16px;
}
.main-nav .active a{
	background-color: rgba(51, 122, 183, 0) !important;
	color: #777 !important;
	font-weight: bold;
	margin-top: 0px; 
}
.navbar-right{
	margin-top: 5px;
}

.prep-list li{
	margin-bottom: 7px;
}

.gallery >div {
  height: 176px;
  margin-bottom: 30px;
}

@media (max-width: 992px){
.gallery >div {
  height: 176px;
  margin-bottom: 90px;
}
}

@media (max-width: 768px){
.gallery >div {
  height: 176px;
  margin-bottom: 70px;
}
}

@media (max-width: 568px){
.gallery >div {
  height: 156px;
  margin-bottom: 10px;
}
}

@media (max-width: 458px){
.gallery >div {
  height: 126px;
  margin-bottom: 10px;
}
}
