body{
  padding-bottom: 20px;
}
.photo-showcase{
	margin-top:20px;
}

.carousel-front{
	margin: auto;
	max-width: 1200px;
	overflow: hidden;
}
.carousel-front .item img{
	width:100%;
}

.carousel-front .carousel-control{
	opacity: 0;
}
.carousel-front .carousel-control:hover {
    opacity: 1;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.carousel-control{
	background-image: none !important;
}

.carousel-control .glyphicon{


	top:50px;
}
footer{
	text-align: center;
	padding-top: 19px;
  	color: #777;
  	margin-top: 40px;
}

a.title{
	text-decoration: none;
}

.title img{
	margin-top: -3px;
	width: 55px;
}
.main-nav{
	background-color: #fff;
	border: none;
}
.main-nav .navbar-toggle{
	margin-top: 16px;
}
.main-nav .active a{
	background-color: rgba(51, 122, 183, 0) !important;
	color: #337ab7 !important;
	font-weight: bold;
	font-size: 1.1em;
	margin-top: 0px; 
}
.navbar-right{
	margin-top: 5px;
}

